{% include 'restChifa/navegation.html' %} 
<div class="container text-center my-3">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1>CONTACTO</h1>
        </div>
    </div>
    
    {% if page_object.object_list %}
        <div class="row my-3">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                {% include 'restChifa/paginator.html' %}
            </div>
        </div>
        {% for contact in page_object.object_list %}
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p>Nombre: {{ contact.name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p>Teléfono Principal: {{ contact.main_phone }}</p>
                </div>
            </div>
            {% if phone_objects %}
                {% for phone in phone_objects %}
                    {% if phone.fk_contact == contact %}
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>Teléfono Secundario: {{ phone.phone }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if contact.main_email %}
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p>Email Principal: {{ contact.main_email }}</p>
                    </div>
                </div>
                {% if mail_objects %}
                    {% for mail in mail_objects %}
                        {% if mail.fk_contact == contact %}
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p>Email Secundario: {{ mail.email }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p>Otros Datos: {{ contact.other }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row my-3">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p>No hay contactos.</p>
            </div>
        </div>
    {% endif %}
</div>








