{% include 'restChifa/navegation.html' %} 

<div class="container">
{% if user.is_superuser %}
    <div class="row my-3">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1>ELIGE RESTAURANTE</h1>
        </div>
    </div>
    {% if page_object.object_list %}
        <div class="row my-3">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                {% include 'restChifa/paginator.html' %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <a href="./../{{url_page.data_reserves}}*">Todos</a>
            </div>
        </div>
        {% for restaurant in page_object.object_list %}
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <a href="./../{{url_page.data_reserves}}{{restaurant.pk_name}}">{{ restaurant.pk_name }}</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p>No hay restaurantes.</p>
            </div>
        </div>
    {% endif %}
{% else %}
    <div class="row my-3">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1>Esta página es solo para admins.</h1>
        </div>
    </div>
{% endif %}
</div>











