{% include 'restChifa/navegation.html' %} 

<div class="container text-center">
{% if user.is_superuser %}
    <div class="row my-3">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1>PRÓXIMAS RESERVAS</h1>
        </div>
    </div>
    {% if page_object.object_list %}
        <div class="row my-3">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                {% include 'restChifa/paginator.html' %}
            </div>
        </div>
        {% load tz %}
        {% for reserve in page_object.object_list %}
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p>Id: {{ reserve.pk_id }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p>Nombre: {{ reserve.name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p>Teléfono: {{ reserve.phone }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p>Fecha LOCAL: {{ reserve.date_utc|timezone:user_timezone }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p>Fecha UTC: {{ reserve.date_utc }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p>Restaurante: {{ reserve.fk_restaurant }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p>Cantidad Personas: {{ reserve.number_people }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p>Email: {{ reserve.email }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p>Otros Datos: {{ reserve.other }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p>No hay próximas reservas.</p>
            </div>
        </div>
    {% endif %}
{% else %}
    <div class="row my-3">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1>Esta página es solo para admins.</h1>
        </div>
    </div>
{% endif %}
</div>











