<h1>PLATO DETALLADO</h1>

{% include 'restChifa/navegation.html' %} 


{% if dish %}

<ul>
    <li><h2>Nombre: {{ dish.name_dish|upper }}</h1></li>
    <li><h2>Tipo: {{ dish.type|capfirst }}</h2></li>
    <li><h2>Categoría: {{ dish.category|capfirst }}</h2></li>
    <li><h2>Descripción: {{ dish.description|capfirst }}</h2></li>
    <li><h2>Precio: {{ dish.price }}€</h2></li>
    <li><h2><img src="./../../static/restChifa/img/dishes/{{dish.src_photo}}" height="200em" width="200em"/></h2></li>
    <li><h2>Popularidad: Pedido {{ dish.popular }} veces</h2></li>
</ul>

{% else %}
<h1>Plato no encontrado...</h1>
{% endif %}
