<h1>PLATOS</h1>

{% include 'restChifa/navegation.html' %} 

{% if dish_categories %}
    {% for dish_category in dish_categories %}
        <h2>{{ dish_category|upper }}</h2>
        {% if dish_objects %}
            <ul>
            {% for dish in dish_objects %}
                {% if dish.category == dish_category %}
                    <a href="./dish/{{dish.name_dish}}"><li><h3>{{ dish.name_dish|upper }}</h3></li></a>
                {% endif %}
            {% endfor %}
            </ul>
        {% else %}
            <p>No hay platos.</p>
        {% endif %}
    {% endfor %}
{% else %}
    <p>No hay categoría de platos.</p>
{% endif %}





