{% include 'restChifa/navegation.html' %} 

<div class="container my-3">
   
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1>BIENVENIDO A RESTCHIFA</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            {% include 'restChifa/logo.html' %}
        </div>
    </div>

    <div class="row my-3">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h2>PLATOS POPULARES</h2>
        </div>
    </div>
    {% if page_object.object_list %}
        <div class="row my-3">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                {% include 'restChifa/paginator.html' %}
            </div>
        </div>
        
        <ul>
        {% for dish in page_object.object_list %}
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <a target="_blank" class="link-underline-primary" href="./{{url_page.dish}}{{dish.pk_name}}"><li><h3>{{ dish.pk_name|upper }}</h3></li></a>
                </div>
            </div>
        {% endfor %}
        </ul>
    {% else %}
        <div class="row my-3">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p>No hay platos.</p>
            </div>
        </div>
    {% endif %}
</div>