{% include 'restChifa/navegation.html' %} 

<div class="container my-3">

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1>MENU DETALLADO</h1>
        </div>
    </div>
    
    {% if menu_objects %}
        {% if menu_dish_objects %}
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h2> {{ menu_objects.pk_name }} </h2>
                </div>
            </div>

            {% if page_object.object_list %}
                <div class="row my-3">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        {% include 'restChifa/paginator.html' %}
                    </div>
                </div>
                {% for dish_type in page_object.object_list %}
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <h2>{{ dish_type.fk_dish__fk_type__pk_name|upper }}</h2>
                        </div>
                    </div>

                    {% for menu_dish_fk in menu_dish_fk_objects %}
                        {% if menu_dish_fk.fk_dish__fk_type__pk_name == dish_type.fk_dish__fk_type__pk_name %}
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h2>{{ menu_dish_fk.fk_dish__fk_category__pk_name|upper }}</h2>
                                </div>
                            </div>
                        {% endif %}

                        <ul>
                            {% for dish in menu_dish_objects %}
                                {% if dish.fk_dish.fk_category.pk_name == menu_dish_fk.fk_dish__fk_category__pk_name and dish.fk_dish.fk_type.pk_name == dish_type.fk_dish__fk_type__pk_name %}
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <a href="./../dish/{{dish.fk_dish.pk_name}}"><li><h3>{{ dish.fk_dish.pk_name|upper }}</h3></li></a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <div class="row my-3">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h1>No hay platos.</h1>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="row my-3">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h1>El menú con el nombre "{{ menu_objects.pk_name }}" existe pero no tiene platos</h1>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="row my-3">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1>Menu no encontrado...</h1>
            </div>
        </div>
    {% endif %}
</div>
