{% include 'restChifa/navegation.html' %} 

<div class="container text-center my-3">

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1>MENUS</h1>
        </div>
    </div>

    {% if page_object.object_list %}
        <div class="row my-3">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                {% include 'restChifa/paginator.html' %}
            </div>
        </div>
        <ul>
        {% for menu in page_object.object_list %}     
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <a href="./../{{url_page.menu}}{{menu.pk_name}}"><li><h3>{{ menu.pk_name|upper }}</h3></li></a>
                </div>
            </div>  
        {% endfor %}
        </ul>
    {% else %}
        <div class="row my-3">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p>No hay menus.</p>
            </div>
        </div>
    {% endif %}
</div>





