{% if page_object %}
    {% if page_object.paginator.num_pages != 1 %} <!-- If there are more than 1 page -->
        <b>
            Página {{ page_object.number }} de {{ page_object.paginator.num_pages }}
        </b>
        {% if page_object.has_previous %}
            <a href="?page=1"><button>&laquo; Primera</button></a>
            <a href="?page={{ page_object.previous_page_number }}"><button>&lt; Anterior</button></a>
        {% else %}
            <button disabled>&laquo; Primera</button>
            <button disabled>&lt; Anterior</button>
        {% endif %}
        {% if page_object.has_next %}
            <a href="?page={{ page_object.next_page_number }}"><button>Siguiente &gt;</button></a>
            <a href="?page={{ page_object.paginator.num_pages }}"><button>Última &raquo;</button></a>
        {% else %}
            <button disabled>Siguiente &gt;</button>
            <button disabled>Última &raquo;</button>
        {% endif %}
    {% endif %}
{% else %}
    <p>Objeto Paginator no recibido.</p>
{% endif %}