<h1>RESERVA</h1>

{% include 'restChifa/navegation.html' %} 

<br><br><br>

<form method="POST">
    {% csrf_token %}

    <label for="name_reserve_name">Nombre: </label>
    <input name="name_reserve_name" type="text" placeholder="Escribe tu nombre aquí" value="{{ post.name_reserve_name }}"/>

    <br><br>

    <label for="name_reserve_tlf">Teléfono: </label>
    <input id="id_reserve_tlf" name="name_reserve_tlf" type="tel" placeholder="Escribe tu número de teléfono aquí" value="{{ post.name_reserve_tlf }}"/>
    
    <br><br>

    <label for="name_reserve_date">Fecha: </label>
    <input name="name_reserve_date" type="datetime-local" value="{{ post.name_reserve_date }}"/>

    <br><br>

    <label for="name_reserve_restaurant">Restaurante: </label>
    <select name="name_reserve_restaurant" value="{{ post.name_reserve_restaurant }}">
        {% if restaurant_objects %}
        {% for restaurant in restaurant_objects %}
            <option value="{{restaurant.name_restaurant}}">{{restaurant.name_restaurant}}</option>
        {% endfor %}
        {% endif %}


    </select>

    <br><br>

    <label for="name_reserve_people">Cantidad Personas: </label>
    <input name="name_reserve_people" type="number" min="1" value="1" value="{{ post.name_reserve_people }}"/>

    <br><br>

    <label for="name_reserve_email">Email (Opcional): </label>
    <input name="name_reserve_email" type="email" placeholder="Escribe tu email aquí" value="{{ post.name_reserve_email }}"/>

    <br><br>

    <label for="name_reserve_other">Otros (Opcional): </label>
    <textarea name="name_reserve_other" placeholder="Datos adicionales, ejemplo: Llevas bebés, objetos que quieras guardar, etc">{{ post.name_reserve_other }}</textarea>

    <br><br>

    <div id="id_reserve_error">
        {{ post.error }}
    </div>
    <div id="id_reserve_success">
        {{ post.success }}
    </div>
        
    <br><br>

    <input type="submit" value="Reservar">
</form>











<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

<script>
    const phoneInputField = document.querySelector("#id_reserve_tlf");
    const phoneInput = window.intlTelInput(phoneInputField, {
      utilsScript:
        "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>







