{% include 'restChifa/navegation.html' %} 

<div class="container my-3">
       
    <div class="row text-center">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1>RESERVA</h1>
        </div>
    </div>
    
    <form id="reserve_form" class="form-floating mb-3" method="POST" onsubmit="return confirm('¿Quieres envíar los datos de la reserva?');" onreset="return reserveFormOnReset()">
        {% csrf_token %}
        
        <div class="mb-3">
            <label class="form-label" for="name_reserve_name">Nombre: </label>
            <input id="i" class="form-control {{ post.error.add_class_is_invalid.name }}" name="name_reserve_name" type="text" placeholder="Escribe tu nombre aquí" value="{{ post.name_reserve_name }}"/>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label class="text-danger">{{ post.error.name }}</label>
        </div>
    
        <div class="mb-3">
            <label class="form-label" for="name_reserve_tlf">Teléfono: </label>
            <input class="form-control {{ post.error.add_class_is_invalid.prefix_tlf }}" name="name_reserve_prefix_tlf" type="tel" placeholder="Escribe el prefijo del número de teléfono aquí" value="{{ post.name_reserve_prefix_tlf }}"/>
            <input class="mt-3 form-control {{ post.error.add_class_is_invalid.tlf }}" id="id_reserve_tlf" name="name_reserve_tlf" type="number" placeholder="Escribe tu número de teléfono aquí" value="{{ post.name_reserve_tlf }}"/>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label class="text-danger">{{ post.error.prefix_tlf }} {{ post.error.tlf }}</label>
        </div>
    
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label class="form-label" for="name_reserve_date">Fecha: </label>
            <input class="form-control {{ post.error.add_class_is_invalid.date }}" name="name_reserve_date" type="datetime-local" value="{{ post.name_reserve_date }}"/>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label class="text-danger">{{ post.error.date }}</label>
        </div>
    
        <div class="mb-3">
            <label class="form-label" for="name_reserve_restaurant">Restaurante: </label>
            <select class="form-select form-select-lg mb-3  {{ post.error.add_class_is_invalid.restaurant }}" name="name_reserve_restaurant">
                <option value=""></option>
                {% if restaurant_objects %}
                    {% for restaurant in restaurant_objects %}
                        <option value="{{restaurant.pk_name}}" {% if restaurant.pk_name == post.name_reserve_restaurant %}selected{% endif %} >{{restaurant.pk_name}}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label class="text-danger">{{ post.error.restaurant }}</label>
        </div>
    
        <div class="mb-3">
            <label class="form-label" for="name_reserve_people">Cantidad Personas: </label>
            <input class="form-control {{ post.error.add_class_is_invalid.people }}" name="name_reserve_people" type="number" min="1" value="{{ post.name_reserve_people }}"/>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label class="text-danger">{{ post.error.people }}</label>
        </div>
    
        <div class="mb-3">
            <label class="form-label" for="name_reserve_email">Email (Opcional): </label>
            <input class="form-control {{ post.error.add_class_is_invalid.email }}" name="name_reserve_email" type="email" placeholder="Escribe tu email aquí" value="{{ post.name_reserve_email }}"/>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label class="text-danger">{{ post.error.email }}</label>
        </div>
    
        <div class="mb-3">
            <label class="form-label" for="name_reserve_other">Otros (Opcional): </label>
            <textarea class="form-control  {{ post.error.add_class_is_invalid.other }}" name="name_reserve_other" placeholder="Datos adicionales, ejemplo: Llevas bebés, objetos que quieras guardar, etc">{{ post.name_reserve_other }}</textarea>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label class="text-danger">{{ post.error.other }}</label>
        </div>
    
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <b class="text-success fs-1">{{ post.success }}</b>
        </div>
     

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 my-3">
            <input class="btn btn-primary btn-lg" type="submit" value="Reservar">
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 my-3">
            <input class="btn btn-outline-secondary" type="reset" value="Borrar Datos Formulario">
        </div>




    </form>
</div>
