body
{
    background-image: url("./../../img/logo/background.jpg");
    font-family: fantasy;
}

a li
{
    color: blue;
    background-color: orange;
}

a li:hover
{
    color: lightpink;
    background-color: green;
}

a button:hover
{
    color: white;
    background-color: black
}

