@font-face 
{
    font-family: 'customize_font';
    src: url("./../../Font/Mutter_Krause_Halbfett.ttf") format("truetype");
}

body
{
    font-family: 'customize_font';
    /*background-image: url("./../../img/background/Background.jpg");*/
    color: black;
}

a li
{
    color: blue;
    background-color: orange;
}

a li:hover
{
    color: lightpink;
    background-color: green;
}

a button:hover
{
    color: white;
    background-color: black
}

