.footer{
    width:90%;
    height: 30%;
}

.imgFooter{
    width: 10%;
    height: 10%;
}

.logoFooter, .lounge, .redesSociales, .contactanos{
    text-align: center;
}

.tiktok, .instagram, .twitter{
    width: 2%;
    height: 2%;
}
